<template>
  <div>
    <nav
      class="navbar header has-shadow is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a
          class="navbar-item"
          href="/"
        >
          Kernel Panic Lib
        </a>

        <div class="navbar-burger">
          <span />
          <span />
          <span />
        </div>
      </div>
    </nav>

    <section class="main-content columns">
      <aside class="column is-2 section">
        <p>Hi, {{ userName }}</p>
        <b-menu-list label="General">
          <b-menu-item
            v-for="(item, key) of items"
            :key="key"
            :icon="item.icon"
            :to="item.to"
            :label="item.title"
            tag="nuxt-link"
            exact-active-class="is-active"
          ></b-menu-item>
        </b-menu-list>
        <b-menu-list label="Actions">
          <b-menu-item icon="lock" label="Logout" @click="logout"></b-menu-item>
        </b-menu-list>
      </aside>

      <!-- todo: move in a separate component -->
      <div class="container column is-10">
        <nuxt keep-alive />
        <b-modal
          v-model="showLoggedOutAlert"
          trap-focus
          :destroy-on-hide="false"
          scroll="keep"
          aria-role="dialog"
          aria-modal>
          <template #default="props">
            <div class="panel has-background-white" style="width: 300px; margin: 0 auto">
              <p class="panel-heading">
                Login
              </p>
              <div class="panel-block is-flex is-flex-direction-column">
                <b-field label="Username" class="m-field">
                  <b-input v-model="credentials.uname" maxlength="30"></b-input>
                </b-field>

                <b-field label="Password" class="m-field">
                  <b-input type="password"
                           v-model="credentials.pass"
                           password-reveal>
                  </b-input>
                </b-field>
                <b-button @click="login">Login</b-button>
              </div>
            </div>
          </template>
        </b-modal>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: 'Book Shelf',
        icon: 'bookshelf',
        to: { name: 'index' }
      },
      {
        title: 'Profile',
        icon: 'alien-outline',
        to: { name: 'profile' }
      }
    ],
    credentials: {
      uname: 'admin',
      pass: 'admin'
    }
  }),
  computed: {
    userName() {
      return this.$store.state.currentUser.name
    },
    loggedIn() {
      return this.$store.state.loggedIn
    },
    showLoggedOutAlert: {
      get: function ()  {
        return !this.$store.state.loggedIn
      },
      set: function (value) {
        console.warn('trying to set showLoggedOutAlertModel')
      }
    }
  },
  methods: {
    login() {
      this.$store.dispatch('login', this.credentials);
    },
    logout() {
      this.$store.dispatch('logout');
    }
  }
}
</script>

<style scoped>
.m-field {width: 100%}
</style>
