<template>
  <div class="card is-flex is-flex-direction-column is-flex-wrap-nowarp is-justify-content-start">
    <div class="header is-flex is-flex-direction-row is-flex-wrap-nowarp is-justify-content-start">
      <div>
        <b-image
          :src="book.imageUrl"
          class="image-cover m-2">
        </b-image>
      </div>
      <div class="content m-2">
        <p class="title is-6">{{ book.title }}</p>
        <p class="subtitle is-6 mb-2">{{ bookAuthorsFormatted }}</p>
        <p class="subtitle is-7">
          isbn: {{ book.isbn }}<br>
          pages: {{ book.pageNums }}<br>
          year: {{ book.yearPublished }}
        </p>
      </div>
    </div>
    <div class="card-content is-flex-grow-1">
      <div class="content">
        <b-taglist class="mb-2 pt-2" attached>
          <b-tag :type="bookAvailable ? 'is-success' : 'is-warning'">
            <b-icon icon="package-variant" size="is-small"></b-icon>&nbsp;&nbsp;{{ book.available }} / {{ book.total }}
          </b-tag>
          <b-tag :type="bookRatingTagType">
            <b-icon icon="poll-box-outline" size="is-small"></b-icon>&nbsp;&nbsp;{{ book.rating }} / 10
          </b-tag>
        </b-taglist>
        <b-taglist>
          <b-tag v-for="g in book.genre" :key="g.id">{{ g.title }}</b-tag>
        </b-taglist>
        <p class="is-size-7">{{ book.description }}</p>
      </div>
    </div>
    <footer class="card-footer">
      <a @click="letsReturn" class="card-footer-item">
        Return
      </a>
      <a @click="letsBook" class="card-footer-item">
          Let's Book it!
      </a>
    </footer>
  </div>
</template>

<script>
export default {
  name: "BookListItem",
  props: {
    book: Object
  },
  computed: {
    bookAuthorsFormatted() {
      return this.book.authors.map(it => it.name).join(', ')
    },
    bookAvailable() {
      return this.book.available > 0
    },
    bookRatingTagType() {
      let rating = this.book.rating;
      if (rating < 4) return 'is-light'
      if (rating < 6) return 'is-white'
      if (rating < 8) return 'is-success is-light'
      return 'is-success'
    }
  },
  methods: {
    letsBook() {
      this.$emit('lets-book', this.book.isbn)
    },
    letsReturn() {
      this.$emit('lets-return', this.book.isbn)
    }
  }
}
</script>

<style scoped>

.card {
  width: max(calc((100% - 2rem) / 4), 18rem); /* todo: make it in correct way */
}

.image-cover {
  object-fit: cover;
  height: 8rem;
  width: 6rem;
}

.header {
  min-height: 10rem;
}

</style>
