<template>
  <div class="card is-flex is-flex-direction-row is-flex-wrap-nowarp is-justify-content-start" v-if="currentBook">
    <div class="header is-flex is-flex-direction-row is-flex-wrap-nowarp is-justify-content-start is-flex-grow-1">
      <div>
        <b-image
          :src="currentBook.imageUrl"
          class="image-cover m-2">
        </b-image>
      </div>
      <div class="content m-2">
        <p class="title is-6">{{ currentBook.title }}</p>
        <p class="subtitle is-6 mb-2">{{ bookAuthorsFormatted }}</p>
        <p class="subtitle is-7">
          isbn: {{ currentBook.isbn }}<br>
          pages: {{ currentBook.pageNums }}<br>
          year: {{ currentBook.yearPublished }}
        </p>
        <b-taglist class="mb-2 pt-2" attached>
          <b-tag :type="bookRatingTagType">
            <b-icon icon="poll-box-outline" size="is-small"></b-icon>&nbsp;&nbsp;{{ currentBook.rating }} / 10
          </b-tag>
        </b-taglist>
        <b-taglist>
          <b-tag v-for="g in currentBook.genre" :key="g.id">{{ g.title }}</b-tag>
        </b-taglist>
      </div>
    </div>
    <div class="card-content" style="width: 50%">
      <div class="content">
        <p class="is-size-7">{{ currentBook.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BookDetailed",
  computed: {
    currentBook() {
      return this.$store.state.currentBook;
    },
    bookAuthorsFormatted() {
      return this.currentBook.authors.map(it => it.name).join(', ')
    },
    bookAvailable() {
      return this.currentBook.available > 0
    },
    bookRatingTagType() {
      let rating = this.currentBook.rating;
      if (rating < 4) return 'is-light'
      if (rating < 6) return 'is-white'
      if (rating < 8) return 'is-success is-light'
      return 'is-success'
    }

  }
}
</script>

<style scoped>
.image-cover {
  object-fit: cover;
  height: 16rem;
  width: 12rem;
}

.header {
  min-height: 10rem;
}
</style>
