<template>
  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-start">
    <book-list-item
      v-for="book in books"
      :book="book"
      class="m-1"
      @lets-book="letsBook"
      @lets-return="letsReturn"
    ></book-list-item>
  </div>

</template>

<script>
import BookListItem from '~/components/BookListItem'

export default {
  name: "BookList",
  components: {
    BookListItem
  },
  props: {
    books: Array
  },
  methods: {
    letsBook(isbn) {
      this.$emit('lets-book', isbn)
    },
    letsReturn(isbn) {
      this.$emit('lets-return', isbn)
    }
  }
}
</script>

<style scoped>

</style>
