<template>
  <div class="panel has-background-white">
    <p class="panel-heading">
      Let's Return
    </p>
    <div class="panel-block is-flex is-flex-direction-column is-flex-wrap-nowarp is-justify-content-start">
      <book-detailed class="mb-3"></book-detailed>
      <div class="block has-text-left is-flex is-flex-direction-row is-flex-wrap-nowarp is-justify-content-start">
        <b-field
          label="Store selection:"
          :type="formValid ? null : 'is-danger'"
        >
          <b-select
            placeholder="Select the store"
            icon="book"
            v-model="selectedStoreId"
          >
            <option v-for="item in availableStores" :value="item.id" :key="item.id">{{ item.title }}</option>
          </b-select>
          <b-button
            :loading="buttonIsLoading"
            @click="startReturning"
            class="ml-2"
          >Confirm</b-button>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
import BookDetailed from '~/components/BookDetailed'
export default {
  name: 'LetsReturnDialog',
  components: {BookDetailed},
  data: () => ({
    selectedStoreId: null,
    buttonIsLoading: false,
    formValid: true
  }),
  computed: {
    availableStores() {
      return this.$store.state.availableStores;
    }
  },
  methods: {
    startReturning() {
      if (this.selectedStoreId === null) {
        this.formValid = false;
        return;
      } else {
        this.formValid = true;
      }
      this.buttonIsLoading = true;
      this.$store.dispatch('letsReturn', {
        storeId: this.selectedStoreId,
        onSuccess: () => this.success(),
        onFail: () => this.fail()
      })
    },
    success() {
      this.$buefy.toast.open({
        message: 'Book Returned)',
        type: 'is-success'
      });
      this.buttonIsLoading = false;
      this.$store.dispatch('booksAll')
      this.$parent.close()
    },
    fail() {
      this.$buefy.toast.open({
        duration: 5000,
        message: 'Something going wrong!',
        type: 'is-danger'
      });
      this.buttonIsLoading = false;
    }
  }
}
</script>

<style scoped>

</style>
