<template>
  <div class="panel has-background-white">
    <p class="panel-heading">
      Let's Book it
    </p>
    <div class="panel-block is-flex is-flex-direction-column is-flex-wrap-nowarp is-justify-content-start">
      <book-detailed class="mb-3"></book-detailed>
      <b-collapse
        aria-id="letsBookDialogCollapse1"
        class="panel my-3"
        style="width: 100%"
        animation="slide"
        v-model="showHistory">
        <div
          slot="trigger"
          class="panel-heading"
          role="button"
          aria-controls="letsBookDialogCollapse11">
          <strong>History</strong>
        </div>
        <div class="panel-block">
          <b-table v-if="currentBookHistory" :data="currentBookHistory" :columns="historyColumns" style="width: 100%"></b-table>
        </div>
      </b-collapse>
      <b-collapse
        aria-id="letsBookDialogCollapse2"
        class="panel my-3"
        style="width: 100%"
        animation="slide"
        v-model="showActive">
        <div
          slot="trigger"
          class="panel-heading"
          role="button"
          aria-controls="letsBookDialogCollapse22">
          <strong>Active</strong>
        </div>
        <div class="panel-block">
          <b-table v-if="currentBookActive" :data="currentBookActive" :columns="activeColumns" style="width: 100%"></b-table>
        </div>
      </b-collapse>
      <div class="block has-text-left is-flex is-flex-direction-row is-flex-wrap-nowarp is-justify-content-start">
        <b-field
          label="Item selection:"
          :type="formValid ? null : 'is-danger'"
        >
          <b-select
            placeholder="Select an item"
            icon="book"
            v-model="selectedItemId"
          >
            <optgroup v-for="store in currentBookAvailableStores" :label="store.title" :key="store.id">
              <option v-for="item in store.items" :value="item" :key="item">#{{ item }}</option>
            </optgroup>
          </b-select>
          <b-button
            :loading="buttonIsLoading"
            @click="startBooking"
            class="ml-2"
          >Confirm</b-button>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
import BookDetailed from '~/components/BookDetailed'
export default {
  name: 'LetsBookDialog',
  components: {BookDetailed},
  data: () => ({
    selectedItemId: null,
    buttonIsLoading: false,
    formValid: true,

    showHistory: false,
    historyColumns: [
      {
        field: 'dateTaken',
        label: 'Taken',
      },
      {
        field: 'dateReturned',
        label: 'Returned',
      },
      {
        field: 'storeTitle',
        label: 'Store',
      },
      {
        field: 'userName',
        label: 'User',
      },
      {
        field: 'itemId',
        label: 'Item',
      }
    ],

    showActive: true,
    activeColumns: [
      {
        field: 'dateTaken',
        label: 'Taken',
      },
      {
        field: 'userName',
        label: 'User',
      },
      {
        field: 'itemId',
        label: 'Item',
      }
    ]
  }),
  computed: {
    currentBookAvailableStores() {
      return this.$store.state.currentBookAvailableStores;
    },
    currentBookHistory() {
      return this.$store.state.currentBookHistory;
    },
    currentBookActive() {
      return this.$store.state.currentBookActive;
    }
  },
  methods: {
    startBooking() {
      if (this.selectedItemId === null) {
        this.formValid = false;
        return;
      } else {
        this.formValid = true;
      }
      this.buttonIsLoading = true;
      this.$store.dispatch('letsBook', {
        id: this.selectedItemId,
        onSuccess: () => this.success(),
        onFail: () => this.fail()
      })
    },
    success() {
      this.$buefy.toast.open({
        message: 'Book Booked)',
        type: 'is-success'
      });
      this.buttonIsLoading = false;
      this.$store.dispatch('booksAll')
      this.$parent.close()
    },
    fail() {
      this.$buefy.toast.open({
        duration: 5000,
        message: 'Something going wrong!',
        type: 'is-danger'
      });
      this.buttonIsLoading = false;
    }
  }
}
</script>

<style scoped>

</style>
