<template>
  <section class="section">
    <div class="block">
      <b-button @click="booksAll">Search</b-button>
    </div>
    <div class="columns is-mobile">
      <book-list
        :books="books"
        @lets-book="letsBook"
        @lets-return="letsReturn"
      ></book-list>
    </div>
    <b-pagination
      v-show="showPagination"
      :total="allBooks.length"
      :per-page="pagination.itemsPerPage"
      v-model="pagination.currentPage"
      order="is-centered"
      range-before="3"
      range-after="3"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page">
    </b-pagination>
    <b-modal
      v-model="showLetsBookDialog"
      trap-focus
      :destroy-on-hide="false"
      scroll="keep"
      aria-role="dialog"
      aria-modal>
      <template #default="props">
        <lets-book-dialog @close="props.close"></lets-book-dialog>
      </template>
    </b-modal>
    <b-modal
      v-model="showLetsReturnDialog"
      trap-focus
      :destroy-on-hide="false"
      scroll="keep"
      aria-role="dialog"
      aria-modal>
      <template #default="props">
        <lets-return-dialog @close="props.close"></lets-return-dialog>
      </template>
    </b-modal>
  </section>
</template>

<script>
import Card from '~/components/Card'
import BookList from '~/components/BookList'
import LetsBookDialog from '~/components/LetsBookDialog'
import LetsReturnDialog from '~/components/LetsReturnDialog'

export default {
  name: 'HomePage',
  components: {
    Card,
    BookList,
    LetsBookDialog,
    LetsReturnDialog
  },
  data: () => ({
    showLetsBookDialog: false,
    showLetsReturnDialog: false,
    pagination: {
      currentPage: 1,
      itemsPerPage: 4
    }
  }),
  computed: {
    allBooks() {
      return this.$store.state.booksAll
    },
    books() {
      let start = this.pagination.itemsPerPage * (this.pagination.currentPage - 1);
      return this.allBooks.slice(start, start + this.pagination.itemsPerPage)
    },
    showPagination() {
      return this.allBooks.length > this.pagination.itemsPerPage
    }
  },
  methods: {
    showNoAvailableNowNotification() {
      this.$buefy.toast.open({
        duration: 3000,
        message: 'No available now =(',
        type: 'is-danger'
      });
    },
    letsBook(isbn) {
      this.showLetsBookDialog = true;
      this.$store.dispatch('currentBook', {
        isbn: isbn,
        needDeepReload: true,
        e404handler: () => this.showNoAvailableNowNotification()
      })
    },
    letsReturn(isbn) {
      if (!this.$store.state.availableStores) {
        this.$store.dispatch('availableStores');
      }

      this.showLetsReturnDialog = true;
      this.$store.dispatch('currentBook', {
        isbn: isbn,
        e404handler: () => this.showNoAvailableNowNotification()
      });
    },
    booksAll() {
      this.$store.dispatch('booksAll');
    }
  }
}
</script>
