<template>
  <section class="section">
    <h2 class="title is-3 has-text-grey">
      Just start  <b-icon
        icon="rocket"
        size="is-large"
      />
    </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at consequuntur culpa delectus esse eum illum labore sed sunt temporibus. Architecto consectetur cum cumque deserunt doloremque eaque, est, harum impedit molestias natus quam, recusandae similique unde. Eaque quidem quo similique.</p>
  </section>
</template>
